p{
	font-size: 30px;
	color: red;
	border-bottom:1px solid;
}div{
	color: blue;
	font-size: 20px;
	text-align: left;

}div1{
	color: blue;
	font-size: 20px;
	text-align: left;
	}div2{
		color: blue;
	font-size: 20px;
	text-align: left;
	}body{
		background-color: lightgray;
	}