/*body{
	background-image: url("download (10).jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}*/body
/*{
	background:url('download.jpg') no-repeat;
	background-size:cover;
	font-family:arial;
}*/
/*div{

	text-align: center;
	color: blue;
	padding: 20px solid yellow;
	 height: 500px;
    width: 50%;
  */  
p {
    border-left: 6px solid red;
    background-color: lightgrey;
}
a:link, a:visited {

	
	margin-right: 100px;
	text-align: bottom;
    background-color: #f44336;
    padding: 14px 25px;
    text-decoration: none;
    display: inline-block; 
    border-radius: 12px;
    border-left: 6px solid red;
    background-color: lightgrey;	
}
body{
	
    background-color: lightgrey;
    background:url('3.jpg') no-repeat;
	background-size:cover;
	font-family:arial;
	height: 100%;
}
