body{
	background-color: green;
}
img{
    color: white	;
    text-decoration: none;
}
div{

	text-align: center;
	color: blue;
	padding: 20px solid yellow;
	 height: 500px;
    width: 50%;
    background-color: black;
}
p{
	color: red;
	font-size: 15px;
}
p1{
	color: red;
	font-size: 15px
}
p2{
	color: blue;
	text-align: center;
	font-size: 10px;
}
p3{
	color: gray;
	font-size: 40px;
	text-align: center;
}
input[type=text], select {
	text-align: center;
    width: 50%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
	text-align: center;
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

input[type=login]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
p4{
	color: orange;
}
